nav {
    margin: 15px 15px;
    background-color: white;
    color: #edb24e;
    display: flex;
    justify-content: space-between;
    height: 82px;
    align-items: center;
    font-family: sans-serif;
}

.nav-link {
    
    padding: 15px;
}

.nav-link a {
    margin-right: 12px;
    color: #333333;
    font-family: sans-serif;
    text-decoration: none;
}

.nav-title {
    font-size: 30px;
    letter-spacing: 10px;
}

button  {
    background-color: #edb24e;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
}

.intro {
    background: url("assets/images/header.svg");
    width: 100%;
}

.intro-img{
    width: 100%;
    height: 50%;
}

.image-pet {
    left: 30%;
    top: 45%;
    position: absolute;
    z-index: -1;
    border-radius: 65%;
}

.intro-heading {
    left: 35%;
    top: 140%;
    position: absolute;
    z-index: -1;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 65px;
    font-family: sans-serif;
    color: #000;
}

.container {
    margin:  60px;
    margin-top: -205px;
    
}

.section {
    display: flex;
}

h3 {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
}
.image-wash {
    border-radius: 100px;
}

.custom-text p {
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 30px;
    line-height: 35px;
    margin-top: 30px;
}

.service-custom {
    display: flex;
    justify-content: space-around;
    margin-top: 280px;
}

.title-service {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
}

.container2 {
    width: 80%;
    margin-top: 30px;
    margin: 60px;
    margin-left: 60px;
    margin-bottom: 10px;
    
}

.section2 {
    display: flex;
}

.grooming-service {
    margin-right: 100px;
}

.grooming-service h4 {
    font-size: 60px;
    font-weight: 700px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #000;
    margin-bottom: 10px;
}

.grooming-service p {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: sans-serif;
    margin-right: 200px;
    line-height: 35px;
    margin-top: 20px;
}

.grooming-service button {
    background-color: #edb24e;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.grooming-service button:hover {
    background-color:white;
}

.list {
    display: block;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    line-height: 1.3;
    font-family: sans-serif;
}

.list p {
    float: left;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.list-grooming {
    list-style-type: circle;
    padding: 0;
}

.list-grooming-item {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.grooming-img {
    display: flex;
    justify-content: space-around;

}



